.main-nav {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
}

.nav-list {
  list-style-type: none;
}

.main-nav__link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
}
